body {
  margin: 0;
  padding: 0;
  background-color: rgb(252, 252, 252);
  box-sizing: border-box;
  font-family: "Gill Sans", sans-serif;
}
.boder-1 {
  border-top: 2px solid #ccc;
}
a {
  text-decoration: none;
  color: black;
  font-weight: 50;
}
a:hover {
  font-weight: 700;
  font-family: "Gill Sans", sans-serif;
}

li:after {
  content: "";
  margin: auto;
  display: block;
  height: 3px;
  width: 0%;
  background-color: transparent;
  transition: all 0.4s ease;
}
li:hover:after {
  width: 55px;
  background-color: red;
}
.logo-boat {
  width: 150px;
  height: 80px;
}
.head-point {
  text-align: center;
  margin-top: 10px;
}
.back-color {
  background-color: #ebf8ff;
  /* margin-bottom: 50px; */
}
.boo {
  font-weight: bold;
}
.bi-person {
  margin-right: 10px;
}
.navbar-brand {
  margin-right: 20px;
}
.nav-link {
  font-size: 20px;
}
.nav-item {
  margin: 10px;
  font-weight: 100;
}
.search-1 {
  padding-left: 10px;
  border-radius: 20px;
}
.dropdown-menu {
}
/* .banner {
  margin-top: 50px;
} */
.text-banner {
  margin-left: 50px;
}
.text-banner-2 {
  margin-top: 100px;
  margin-left: 100px;
}
.text-banner-3 {
  background: linear-gradient(to bottom, #ffffff 50%, #ffffcc 100%);
}
.text-banner-4 {
}
.text-1 {
  margin-top: 150px;
  font-size: 100px;
  font-weight: 100px;
}
.text-2 {
  margin-top: 150px;
  font-size: 100px;
  font-weight: 100px;
  gap: 2px;
}
.text-3 {
  font-size: 30px;
}
.text-4 {
  margin-top: 300px;
  margin-left: -200px;
  font-size: 100px;
  font-weight: 100px;
}
.text-5 {
  font-size: 50px;
  margin-top: -40px;
}
.banner-image {
  margin-top: -220px;
  margin-left: -250px;
  width: 950px;
  height: 950px;
}
.banner-image-2 {
  width: 900px;
  height: 900px;
}
.main-1 {
  font-weight: bold;
}
.price-2 {
  font-weight: bold;
  opacity: 0.3;
  text-decoration: line-through;
}
.form-control {
  font-size: 20px;
}
.button-1 {
  border-radius: 15px;
}
.button-2 {
  padding-left: 40px;
  padding-right: 40px;
}
.button-3 {
  padding-left: 40px;
  padding-right: 40px;
}
.button-4 {
  margin-left: 280px;
  border-radius: 15px;
}
.seller-1 {
  font-weight: bold;
}
.seller-2 {
  font-weight: bold;
  border-bottom: 3px solid #e40606;
}
.Price-card {
  display: flex;
}
.discount-1 {
  color: rgb(131, 227, 195);
  font-size: 18px;
  font-weight: bold;
}
.buds {
  font-weight: 900;
}
.border-img {
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 20px;
  background-color: rgb(226, 226, 79);
  font-weight: 700;
}
.border-chg {
  position: absolute;
  padding-right: 20px;
  margin-top: 20px;
  background-color: #17191a;
  color: #ccc;
}
.card-ht {
  margin-top: 12px;
}
